version: "1.0"
tables:
  person:
    file_path: "person.csv"
    patient_id: "person_id"
    timestamp: null
    attributes:
      - "gender_concept_id"
      - "year_of_birth"
      - "month_of_birth"
      - "day_of_birth"
      - "birth_datetime"
      - "race_concept_id"
      - "ethnicity_concept_id"
      - "location_id"
      - "provider_id"
      - "care_site_id"
      - "person_source_value"
      - "gender_source_value"
      - "gender_source_concept_id"
      - "race_source_value"
      - "race_source_concept_id"
      - "ethnicity_source_value"
      - "ethnicity_source_concept_id"

  visit_occurrence:
    file_path: "visit_occurrence.csv"
    patient_id: "person_id"
    timestamp: "visit_start_datetime"
    attributes:
      - "visit_occurrence_id"
      - "visit_concept_id"
      - "visit_start_date"
      - "visit_end_date"
      - "visit_end_datetime"
      - "visit_type_concept_id"
      - "provider_id"
      - "care_site_id"
      - "visit_source_value"
      - "visit_source_concept_id"
      - "admitting_source_concept_id"
      - "admitting_source_value"
      - "discharge_to_concept_id"
      - "discharge_to_source_value"
      - "preceding_visit_occurrence_id"

  death:
    file_path: "death.csv"
    patient_id: "person_id"
    timestamp: "death_datetime"
    attributes:
      - "death_date"
      - "death_type_concept_id"
      - "cause_concept_id"
      - "cause_source_value"
      - "cause_source_concept_id"

  condition_occurrence:
    file_path: "condition_occurrence.csv"
    patient_id: "person_id"
    timestamp: "condition_start_datetime"
    join:
      - file_path: "visit_occurrence.csv"
        "on": "visit_occurrence_id"
        how: "left"
        columns:
          - "visit_start_datetime"
    attributes:
      - "condition_occurrence_id"
      - "condition_concept_id"
      - "condition_start_date"
      - "condition_end_date"
      - "condition_end_datetime"
      - "condition_type_concept_id"
      - "stop_reason"
      - "provider_id"
      - "visit_occurrence_id"
      - "visit_detail_id"
      - "condition_source_value"
      - "condition_source_concept_id"
      - "condition_status_source_value"
      - "condition_status_concept_id"

  procedure_occurrence:
    file_path: "procedure_occurrence.csv"
    patient_id: "person_id"
    timestamp: "procedure_datetime"
    join:
      - file_path: "visit_occurrence.csv"
        "on": "visit_occurrence_id"
        how: "left"
        columns:
          - "visit_start_datetime"
    attributes:
      - "procedure_occurrence_id"
      - "procedure_concept_id"
      - "procedure_date"
      - "procedure_type_concept_id"
      - "modifier_concept_id"
      - "quantity"
      - "provider_id"
      - "visit_occurrence_id"
      - "visit_detail_id"
      - "procedure_source_value"
      - "procedure_source_concept_id"
      - "modifier_source_value"

  drug_exposure:
    file_path: "drug_exposure.csv"
    patient_id: "person_id"
    timestamp: "drug_exposure_start_datetime"
    join:
      - file_path: "visit_occurrence.csv"
        "on": "visit_occurrence_id"
        how: "left"
        columns:
          - "visit_start_datetime"
    attributes:
      - "drug_exposure_id"
      - "drug_concept_id"
      - "drug_exposure_start_date"
      - "drug_exposure_end_date"
      - "drug_exposure_end_datetime"
      - "verbatim_end_date"
      - "drug_type_concept_id"
      - "stop_reason"
      - "refills"
      - "quantity"
      - "days_supply"
      - "sig"
      - "route_concept_id"
      - "lot_number"
      - "provider_id"
      - "visit_occurrence_id"
      - "visit_detail_id"
      - "drug_source_value"
      - "drug_source_concept_id"
      - "route_source_value"
      - "dose_unit_source_value"
